################################################################################
# This file specifies intentionally untracked files that git should ignore.    #
################################################################################

#==============================================================================#
# File extensions to be ignored anywhere in the tree
#==============================================================================#

# Temp files created by most text editors.
*~

/.idea/
