<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>| Akarasi |</title>
    <link rel="stylesheet" href="/src/main.css">

    <!--Import Mathjax and Three.js-->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="../../utils/three.js"></script>

    <!--    <script defer type="module" src="../js/blochSphere.js"></script>-->
</head>

<body>

<script src="/src/generalJS/header.js"></script>

<main class="page-content" aria-label="Content">
    <div class="wrapper">
        <div class="home">
            <h2 class="post-list-heading">Template Title</h2>
            <p>Template text</p>
            <canvas id="canvas1" width="200" height="100" style="border:1px solid #000000; background-color:#00F8;">
            </canvas>
            <p> Equations: \(a^2 + b^2 = c^2 \)
                $$
                \braket{\psi | \psi} = 1
                $$
            </p>
            </ul>
        </div>
    </div>
</main>

<script src="/src/generalJS/footer.js"></script>

</body>
</html>